.logo {
	        position: relative;
        top: 0;
        left: 0;
        border: 1px solid #000000;
}

hr.lie {
	border: 2px dotted black;
}
.imagebg {
	poistion: absolute;
	background-image: linear-gradient(to bottom, rgba(46, 49, 49, .75), rgba(103, 128, 159, 0.73)), url("pool_img.jpg");

}

button {
	text-align: center;
	transition: background 0.2s ease-in-out;
	padding-top: 1em;

		border: none;
}

button:hover {
	color: white;
	background-color: #343a40;
}

.open {
	text-align: center;
	transition: background 0.2s ease-in-out;
	padding-top: 1em;
}

.open:hover {
	color: white;
	background-color: #343a40;
}